langchain>=0.1.0
langchain_community
langchain-text-splitters
langchain-core
langchain-chains
PyPDF2
python-dotenv
streamlit
#openai
faiss-cpu
altair
tiktoken
# uncommented to use huggingface llms
huggingface-hub

# uncommented to use instructor embeddings
InstructorEmbedding
sentence-transformers